@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-transparent {
    background: transparent;
  }
  
}

section {
  @apply w-full h-screen flex;
}

h1 {
  @apply font-bold text-[51px] uppercase font-serif  leading-[44px] md:text-[62px] md:leading-[52px] lg:leading-[68px] lg:text-[70px];
}


h2 {
  @apply font-bold text-[38px] uppercase font-serif leading-[32px] md:text-[40px] md:leading-[31px] lg:leading-[40px] lg:text-[48px];
}

h2 > span  {
  @apply font-sans lowercase;
}

h3 {
  @apply font-bold text-[24px] font-sans leading-[28px] md:text-[26px] md:leading-[30px] lg:leading-[38px] lg:text-[32px];
}

p {
  @apply text-[14px] font-sans leading-[24px] md:text-[16px] md:leading-[27px] lg:text-[20px] lg:leading-[34px];
}

a {
  @apply font-sans text-[14px] leading-[24px] md:text-[16px] md:leading-[30px] lg:text-[20px] lg:leading-[36px];
  cursor: pointer;
}



.navbar {
  @apply fixed  w-full left-0 transition-all duration-300 ease-in-out   z-40;
}

.nav {
  @apply container flex flex-row   py-6 justify-between items-center ;

  > div {
    @apply w-1/3;
  }

  > div:first-child > ul {
    @apply w-full hidden lg:flex flex-row justify-start items-center gap-6 text-light;
  }

  > div:last-child > ul {
    @apply flex w-full justify-end items-center gap-6 text-light;
  }
  
  .active {
    @apply text-third;
  }
}

.jumbotron {
  @apply overflow-hidden justify-between items-center flex  bg-no-repeat bg-center bg-cover bg-jumbotron-gradient   w-full h-screen; 
  
  
  > div {
    @apply container flex justify-between items-end overflow-hidden;
  }
}

.main-type {
  @apply h-fit bg-primary mt-40 w-1/3 border-third border-l-4 border-t-4 p-10 rounded-br-3xl bg-opacity-90 text-light  z-10;
  
  h1 {
    @apply mb-12;
  }
}

.jumbotron-image {
  @apply absolute w-[1570px] h-full  overflow-hidden right-0 bottom-0  pt-12;

  img {
    @apply w-full h-full object-top object-cover;
  }
}